<div class="row">
	<div class="col s8">
		<div class="row">
			{{#each blog}}
			<article class="col s12">
				<p class="golden">{{date}}</p>
				<p class="golden">{{title}}</p>
				<p>{{entry}}</p>
				<p class="golden">{{author}}</p>
				<hr>
			</article>
			{{/each}}
		</div>
	</div>
	<div class="col s4">
		<div class="row">
			<div class="col s12 center-align">
				<p>{{about.logo}}</p>
				<img src="{{about.img}}" id="profilePic">
				<p>{{about.text}}</p>
			</div>
		</div>
	</div>
</div>
